{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * mapitApi2entry plugin for Craft CMS
 *
 * MapitApi2entryWidget Widget Body
 *
 * @author    Alan Sparkes
 * @copyright Copyright (c) 2021 Alan Sparkes
 * @link      https://www.joomkit.co.uk
 * @package   MapitApi2entry
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@joomkit/mapitapi2entry/assetbundles/mapitapi2entrywidgetwidget/dist', true) ~ '/img/MapitApi2entryWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
